<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="endless OP">
  <meta property="og:image"
    content="https://media.discordapp.net/attachments/798818128078307391/803418082935701544/kawaii.png">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="icon" type="image/png" href="https://emoji.gg/assets/emoji/1616_MadManOP.png" />
  <title>hail endless</title>
</head>

<body>
  <div id="bg">
    <h1 class="rainbow"><b>hail endless</b></h1>
  </div>
  <div class="x">
    <img class="y"
      src="https://media.discordapp.net/attachments/799423027119915039/803712063943606272/output-onlinepngtools.png" />
  </div>
</body>

</html>